
.settings/
.classpath
.project
.metadata/
*.class
*.jar
*.war
*.ear

**/org.eclipse.core.resources.prefs
**/org.eclipse.jdt.core.prefs

module-info.java

*.tmp
*.log
*.swp
*.lock


bin/
target/
build/
dist/
out/
